# MongoDB Connection String
# Replace with your actual credentials
SPRING_DATA_MONGODB_URI=mongodb+srv://<username>:<password>@clusterccoffeeshop.8h2hctm.mongodb.net/coffee_shop?retryWrites=true&w=majority&appName=Clusterccoffeeshop
